cerberus
numpy==1.21.6 ; python_version < '3.11'
numpy==1.24.2 ; python_version >= '3.11'
mypy
pytest
setuptools>=68.2.2
wheel>=0.35.1
git+http://github.com/ozancicek/onnx.git@f4186874f0ffb5bef74d7ac4ae8c752bbcc79eb3#egg=onnx
argparse
sympy==1.12
flatbuffers
protobuf==3.20.2
packaging
